<%= form_with(model: masjid, local: true) do |form| %>
  <% if masjid.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(masjid.errors.count, "error") %> prohibited this masjid from being saved:</h2>

      <ul>
        <% masjid.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :funding_goal %><br />
    <%= form.number_field :funding_goal %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
