<section id="team" class="team">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-md-6">
        <p id="notice"><%= notice %></p>

        <p>
          <strong>Name:</strong>
          <%= @masjid.name %>
        </p>

        <p>
          <strong>City:</strong>
          <%= @masjid.city %>
        </p>

        <p>
          <strong>Desc:</strong>
          <%= @masjid.desc %>
        </p>

        <p>
          <strong>Funding goal:</strong>
          <%= @masjid.funding_goal %> €
        </p>

        <p>
          <strong>Amount pledged:</strong>
          <%= @masjid.amount_pledged %>
        </p>

        <p>
          <strong>End date:</strong>
          <%= @masjid.end_date %>
        </p>

        <%= link_to 'Edit', edit_masjid_path(@masjid) %> |
        <%= link_to 'Back', masjids_path %>

</div>

<div class="col-md-6" style="margin-top: 30px;">
  <h1>plan de la mosquée</h1>
  <div class="row">
    <% @packs.each do |pack| %>
      <div class="col-md-2" style="min-height: 100px;">
           <td><%= pack.name %></td>
            <td><%= pack.price %> €</td>
       </div>
      <% end %>
  </div>

</div>

</div>
</div>

</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
  $(document).ready(function(){

  var colors = ['red','blue','green','yellow','cyan','orange'];

    $('.col-md-2').each(function(){
      var new_color = colors[Math.floor(Math.random()*colors.length)];
      $(this).css('background-color',new_color);
    });

  });

</script>
